@import '../../Assets/Colors.scss';

.navbar-container {
  position: fixed;
  top: 0;
  width: 280px;
  height: 100%;
  background: $color-primary-0;

  .navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 50px;

    .navbar-item {
      margin: 30px;
      font-family: 'Roboto Mono', monospace;
      text-transform: uppercase;

      .navbar-item-link {
        text-decoration: none;
        color: $color-text;
      }
    }
  }

  .navbar-footer {
    font-size: 0.8em;
    font-weight: 100;
    bottom: 10px;
    left: 10px;
    position: absolute;

    .navbar-footer-link {
      color: $color-text;
      text-decoration: none;
    }
  }
}
